<div class="container">
  <div class="col-sm-10 col-sm-offset-1">

    <!-- REQUEST DETAILS -->
    <div class="container-elements margin-top-space">
      <div class="show-top-upper-elements">

        <div class="element-card-upper-elements">
          <h1>Your request has been sent</h1>
          <div class="show-upper-elements">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="upper-elements-left">
                  <div class="element-card-sender-avatar">
                    <%= cl_image_tag(@request.slack_avatar) if @request.slack_avatar %>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-md-8">
                <div class="upper-elements-right">
                  <h4><%= @request.title.capitalize %> </h4>

                  <% if @request.description != ''  %>
                    <p><strong>Description: </strong><%= @request.description.capitalize %></p>
                  <% end %>

                  <div class="element-card-attachment">
                    <% if @request.attachments != nil %>
                      <% @request.attachments.each do |attachment| %>
                        <div class="element-card-file">
                          <% if attachment.attachment_type == 'request' %>
                            <%= cl_image_tag attachment.photo, height: 200, width: 300, crop: :fill %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="show-box-created-edit-cancel">
                    <p>created <%= @request.created_at.to_formatted_s(:long) %></p>

                    <% if @request.status == 'pending' %>
                      <div class="show-box-edit-cancel">
                        <p> • </p>
                        <%= link_to "Edit", edit_request_path(@request), class: "show-link-edit-cancel" if policy(@request).edit? %>
                        <p> • </p>
                        <%= link_to "Cancel request", disable_request_path(@request), method: :post, data: {confirm: 'Are you sure?'}, class: "show-link-edit-cancel" if policy(@request).cancel? %>
                      </div>
                    <% end %>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <% if @request.status != 'pending' %>

      <!-- END COMMENT -->
      <div class="container-elements">
        <div class="element-card-show">
          <div class="show-personal-note">
            <h2>This request has been <strong><%= @request.status.upcase %></strong></h2>
            <% if @request.end_comment != '' %>
              <p><strong>Your hero added the following message:</strong></p>
              <p><em><%= @request.end_comment %></em></p>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
